.a1 {
    position: absolute;
    top: 50%;
    right: 940px;
    width: 155px;
    height: 150px;
    border: 4px solid black;
}

.a2 {
    position: relative;
    top: 49.2vh;
    left: 640px;
    width: 150px;
    height: 150px;
    border: 4px solid black;
}

.a3 {
    position: relative;
    top: 32.6vh;
    left: 949px;
    width: 150px;
    height: 150px;
    border: 4px solid black;
}

.a4 {
    position: relative;
    top: 32.1vh;
    left: 949px;
    width: 150px;
    height: 150px;
    border: 4px solid black;
}

.a5 {
    position: relative;
    top: 15.5vh;
    left: 794px;
    width: 150px;
    height: 150px;
    border: 4px solid black;
}

.a6 {
    position: relative;
    top: -1.1vh;
    left: 794px;
    width: 150px;
    height: 150px;
    border: 4px solid black;
}

.a7 {
    position: relative;
    top: -18.1vh;
    left: 640px;
    width: 150px;
    height: 150px;
    border: 4px solid black
}

.a8 {
    position: relative;
    top: -18.1vh;
    left: 640px;
    width: 150px;
    height: 150px;
    border: 4px solid black
}

.a9 {
    position: relative;
    top: -34.8vh;
    left: 795px;
    width: 150px;
    height: 150px;
    border: 4px solid black
}

.a10 {
    position: relative;
    top: -51.5vh;
    left: 950px;
    width: 150px;
    height: 150px;
    border: 4px solid black
}